@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap');
* { 
    margin: 0 auto;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.container{
    width: 600px;

}
.content{
    display: flex;
    justify-items: center;
    margin: 4px;
}



.profile {
    width: 100px;
    background-color: #FFD74C;
    border: 2px solid rgb(15, 18, 15);
    padding: 10px;
    margin-top: 5px;
    text-align: center;
}
.card {
    width: 400px;
    border: 2px solid rgb(15, 18, 15);
    margin: 10px;
    padding: 5px;
}
.row{
    display: flex;
    width: 400px;
    margin: 5px;
    padding: 10px;
}

.col{
    flex:1;
}
.col2{
    flex: 2;
    
}

button.button{
    background-color: #FFD74C;
    width: 50px;
    text-align: center;
    margin: 5px;
    box-shadow: 2px 2px 3px black;
}
p.align{
    text-align: start;
    padding: 2px;
    font-size: 12px;
}
h1.center{
    text-align: center;
    padding-top: 10px;

}

h1.network{
    background-color: black;
    color: white;
    padding: 10px 10px;

    

}
.img{
    width: 100px;
    height: 100px;
}