@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap');
*{
    font-family: 'Raleway', sans-serif;
}

.card {
    width: 300px;
    border: 2px solid green;
    margin: 5px;
}
.row{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.row2{
    display: block;
    justify-content: center;
    padding: 0 15px;

}
.col{
    flex:1;

}
.col2{
    flex:2;
    margin-inline-end: auto;
}

button.button{
    background-color: #FFD74C;
    width: 50px;
    margin-top: 20px;
    margin-left: 50px;
    padding: 2px;
    text-align: center;
    box-shadow: 2px 2px 3px black;
}
p.align{
    text-align: start;
    padding: 2px;
    font-size: 12px;
}